[submodule "lib/zstd"]
	path = lib/zstd
	url = https://github.com/facebook/zstd.git
[submodule "lib/sqfvm"]
	path = lib/sqfvm
	url = https://github.com/SQFvm/vm.git
[submodule "lib/cpp-base64"]
	path = lib/cpp-base64
	url = https://github.com/dedmen/cpp-base64.git
[submodule "lib/lzokay"]
	path = lib/lzokay
	url = https://github.com/jackoalan/lzokay.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/walterschell/Lua.git
